<% layout('layouts/boilerplate') -%> 

<h1 class="px-2">These are the locations for the region!</h1>

<div class="row bg-secondary bg-opacity-10 justify-content-evenly px-2">
  <% for (i=0; i < locations.length; i++) {%> 
    <div class="card col-xs-12 col-sm-12 col-md-3 text-center m-3" style="width: 18rem;">
      <div class="card-body"> 
        <% const id = locations[i].id %> 
        <a href="/location/<%=id%>" class="card-link" > <%= locations[i].name %> </a>
        <p><%= locations[i].city + ', ' + locations[i].state %> </p>
      </div>
    </div>
  <% } %> 
</div>

<div class="row justify-content-evenly px-2">
  <div class="col-xs-12 col-sm-12 col-md-3 text-center m-3">
    <a class="btn btn-primary" href="/events/<%=thisRegion%>" role="button">Pinball Events Happening in this Region</a>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-3 text-center m-3">
    <a class="btn btn-primary" href="/links/<%=thisRegion%>" role="button">Pinball Community Links for this Region</a>
  </div>
</div>


