<% layout('layouts/boilerplate') -%> 

<div class="row justify-content-evenly px-2">
  <div class="col-6">
    <h2>Edit Review</h2>
  
  <form action="/location/<%=review.locationId%>/reviews/<%=review._id%>?_method=PUT" method="POST" novalidate class="mb-3 needs-validation" >
    <input class="form-control d-none" type="text" value="<%=review._id%>" name="review[_id]" readonly>
    <input class="form-control d-none" type="number" value="<%=review.locationId%>" name="review[locationId]" readonly>
    <div class="mb-3">
        <label class="form-label" for="rating">Rating</label>
        <input class="form-range" type="range" min="1" max="5" name="review[rating]" id="rating" placeholder="<%= review.rating %>">
    </div>
    <div class="mb-3">
        <label class="form-label" for="body">Review</label>
        <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" placeholder="<%= review.body %>" required></textarea>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <button class="btn btn-success">Update Review</button>
  </form>

  <a href="/location/<%=review.locationId%>">Back to Location</a>

  </div>
  
</div>

<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
(() => {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()
</script>
