<% layout('layouts/boilerplate') -%> 

  <div class="card my-3 mx-auto" style="width: 35rem;">
    <div class="card-body"> 
      <h5 class="card-title"><b>Location Name:</b> <%= location.name %></h5>
      <p class="card-text"><b>Address:</b> <%= location.street %><br><%= location.city + ", " + location.state + " " + location.zip + " " + location.country %></p>
      <p class="card-text"><b>Phone:</b> <%= location.phone %></p>
      <p class="card-text"><b>Website:</b> <a href="<%= location.website %>"><%= location.website %></a></p>
    </div>
  </div>
  
  <div class="card my-3 mx-auto" style="width: 50rem;">
    <div class="card-header">
      Pinball Machines at this location:
    </div>
    <ul class="list-group list-group-flush mx-auto">
      <% for (i=0; i < locationMachines.length; i++) {%> 
        <li class="list-group-item"><b>Name:</b> <%= locationMachines[i].name %><br>Manufactured by <%= locationMachines[i].manufacturer %> in <%= locationMachines[i].year %>.<br><b>Internet Pinball Database Link:</b> <a href="<%= locationMachines[i].ipdb_link %>"><%= locationMachines[i].ipdb_link %></a><br><br><img class="img-fluid img-thumbnail w-75" src="<%= locationMachines[i].opdb_img %>" alt=""></li>
      <% } %> 
    </ul>
  </div>
  
  <div class="row justify-content-evenly px-2">
    <div class="col-6">
      <h2>Reviews:</h2>
  <% for(let review of reviews) { %>
    <div class="mb-3 border">
      <p>Rating: <%= review.rating %>
      </p>
      <p>Review: <%= review.body %>
      </p>
      <p>Review submitted by <%= review.author.username %> </p>
      <p>
        <a href="/location/<%= review.locationId %>/reviews/<%= review._id %>/edit">Edit</a>
      </p>
      <p>
        <form action="/location/<%= review.locationId %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
          <input class="form-control d-none" type="number" value="<%=review.locationId%>" name="review[locationId]" readonly>
          <button>Delete</button>
        </form>
      </p>
    </div>
    <% } %>
    </div>
  </div>

  <div class="row justify-content-evenly px-2">
    <div class="col-6">
      <a href="/location/<%= location.id %>/reviews">Leave a Review</a>
    </div>
  </div>
