<% layout('layouts/boilerplate') -%> 

  <h1 class="px-3">These are the links for the region!</h1>

  <div class="row bg-secondary bg-opacity-10 justify-content-evenly px-2">
    <% for (i=0; i < links.length; i++) {%> 
      <div class="card my-2" style="width: 50rem;">
        <div class="card-body"> 
          <h5 class="card-title"><b>Name:</b> <%= links[i].name %></h5>
          <p class="card-text"><b>Website:</b> <a href="<%= links[i].url %>"><%= links[i].url %></a></p>
          <p class="card-text"><b>Description:</b> <%= links[i].description %></p>
          <p class="card-text"><b>Category:</b> <%= links[i].category %></p>
        </div>
      </div>
    <% } %> 
  </div>

  