<% layout('layouts/boilerplate') -%> 

  <h1 class="my-3 px-2">Click on a Region for Regional Maps of Locations!</h1>

  <div class="my-3 px-2" >
    <div id="map" style="width: 100%; height: 500px"></div>
  </div>

  <div class="row bg-secondary bg-opacity-10 mt-2 px-2">
    <h2>Regions(listed in alphabetical order)</h2>
    <% for (i=0; i < regions.length; i++) {%>
      <% const id = regions[i].name %>
      <div class="col-xs-12 col-sm-12 col-md-3 text-center my-2">
        <a href="/locations/<%=id%>"> <b><%= regions[i].full_name %></b> </a>
        <p><%= regions[i].state %> </p>
      </div>
    <% } %>
  </div>

  <script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const regions2 = { features: <%- JSON.stringify(regions) %>}
  </script>
  
  <script src="/javascripts/clusterMap.js"></script>


  

  

  



 
  


